.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
.grid figure {
	position: relative;
	overflow: hidden;
	min-width: 100%;
	max-width: 100%;
	max-height: 400px;
	width: 48%;
	text-align: center;
}

.grid figure img {
	position: relative;
	min-height: 100%;
	max-width: 100%;
	height: 200px;
}

.grid figure figcaption {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: .5em;
	height: 130px;
	background: #3366cc;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	width: 100%;
	opacity: 0.7;
}
figure.effect-zoe a {
	color: #ffffff;
}

figure.effect-zoe:hover a:hover,
figure.effect-zoe:hover a:focus {
	color: #fff;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}