*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    
}
/*Layout style*/
/*--- HEADER ---*/
#topheader{
    background-color: #3366cc;   
    line-height: 30px;  
   
}
.list{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.list>a{
    text-decoration: none;
     color: #ffffff; 
}
#header{
    vertical-align: baseline;
    padding: 1%;
}

#search{
    width: auto;
    border: 2px solid #31b0d5;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    height: 35px;
    padding: 0px;
}
#search input[type='search'] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    width: 100%;
    height: 29px;
    cursor: text;
    padding-left: 1px;
}

#search #select-box{
    border-left: 1px solid dodgerblue;
}
#search #select-box select{
    border: none;
    height: 30px;
    width: 100%;
    background: none;
}
#search #btnSearch{
    height: 30px;
    width: 100%;
    border: none;
}

#cart{
    text-align: right;
}
#cart button{
    border-color:#e4101c;
}
.btn .badge {
    top:-11px;
}

.navbar{
    border-radius: 0px;
    min-height: 20px;
    color: #fff;
}
nav.navbar-inverse{
    text-transform: uppercase;
    background-color: #31b0d5;

}
a{
    text-decoration: none !important;
}
.navbar-inverse .navbar-nav>li#menuheader>a {
    color: #fff !important;
}
.navbar-inverse .navbar-nav>li:hover{
    background-color: #a6e1ec;
}
nav{
    margin-bottom: 5px;
    z-index: 150;
    /*box-shadow: 0 2px 3px rgba(0,0,0,.4);*/
    color: #fff;
}
.navbar-inverse .navbar-brand{
    color: #fff;
}
/*menu croll */
.sticky{
    position: fixed !important;
    top:0;
    width:100%
}

#slide-show{
    height: 220px;
}

#slide-show-hot{
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-inner>.item>img{
    height: 217px;
}
.service{
    height: 107px;
    text-align: justify;
    margin-bottom: 5px;
    position: relative;
    right: -15px;
    margin-left: -11px;
}

.service a:link, a:hover, a:visited, a:active{
    text-decoration: none;
}

#service2:hover{
    background-color: chocolate;
}

#product-header{
    border-bottom: 1px solid gainsboro;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:5px;
}

#product-list{
    margin-top: 10px;
}

#product-list .item-product{
    padding-left: 0px;
    padding-right: 0px;
}
#product{
    padding-left: 0px;
    padding-right: 0px;
}
.item-product{
    text-align: center;
    border: 1px solid gainsboro;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 296px;
    margin-bottom: 10px;
}
.item-product:hover{
    border: 1px solid red;
}

.item-img{
    height: 70%;
}
.item-img img{
    height: 100%;
    width: 100%;
}

.buy{
    background-color: orangered;
    position: relative;
    margin-top: -20px;
    z-index: -1;
}
.item-name{
    margin-top: 23px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
}

.item-price{
    margin-top: 5px;
}
.old-price{
    position: relative;
    float: right;
    text-align: right;
    text-decoration: line-through;
    padding-right: 10px;
}
.new-price{
    position: relative;
    float: left;
    text-align: left;
    color: red;
    font-weight: bold;
    padding-left: 10px;
}

#right{
    padding-left: 0px;
    padding-right: 15px;
}

#menu-right{
    border: 1px solid gainsboro;
    position: relative;
    right: -15px;
    padding: 0px;
    border-top: 2px solid #e4101c
}
.menu-right-header{
    line-height: 30px;
    background: gainsboro;
    color: #e4101c;
    text-align: center;
    text-transform: uppercase;
}

.menu-right-content{
    text-align: center;
}
.menu-right-content .product-seller{
    padding:20px;
    margin: 20px;
    border-bottom: 1px solid gainsboro;
}

.product-seller:hover{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.img-seller img{
    width: 100%;
}
.name-seller{
    text-align: left;
}
.price-seller {
    position: relative;
}
.price-seller .new{
    float: left;
    color: #e4101c;
    font-weight: bold;
}
.price-seller .old{
    float: right;
    text-decoration: line-through;
    color:#000;
}
#footer-menu{
    background-color:#1B6D85;
    color:#fff;
    margin-top: 20px;
}
#footer-menu h3{
    text-transform: uppercase;
}
#footer-copyright{
    text-align: center;
    background-color: #fff;
    color: #000; 
    height: 50px;
    padding-top: 13px;
}

#path{
    background-color: gainsboro;
    color:#000;
    margin-top: -20px;
    line-height: 42px;
}
#path-content{
    text-transform: uppercase;
}
#filter{
    margin-top: 5px;
}
#filter #filter-content{
    padding-left: 0px;
    padding-right: 0px;
}

#filter-content td.lable{
    background-color: #fffef6;
    font-weight: bold;
}

#filter-content td input[type=checkbox]{
    border: 1px solid gainsboro;
}
/*cart*/
.hello{
    margin-top:30px;
    min-height:50px;
    line-height: 50px;
    border: 1px solid #7094db ;   
}
.table-cart{
    margin-top:30px;  
    text-align: center; 
    
}
.title-cart{
    box-shadow: 1px 1px red;
    font-size:26px;
    color:red;
    font-weight: bold;
    margin-top:30px;
}
.info-cart{
    margin-top:30px;
   
}
.info-client{
    color: blue;
}
th{
    font-weight: bold !important;
    text-align: center !important;
}


/*detail*/

.rate_head {
    line-height: 14px;
    display: inline-block;
    margin-left: 20px;
}
.rate_head span.star.star-on {
    color: #FF9727;
}
.rate_head span.star {
    width: 13px;
    display: inline-block;
    color: #FF9727;
}
.frame_img {
    display: block;
    background: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.hit_share {
    margin-top: 20px;
    text-align: center;
}
#buy-now, .btn-tragop, #buy-now-2 {
    display: block;
    width: 48%;
    text-align: center;
    background: #fd6e1d;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    color: #FFF !important;
    text-decoration: none !important;
}
.btn-tragop {
    background: #00A7F4;
}
.buy_fast {
    background: #F29901;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 20px 14px;
    text-align: center;
    color: #FFF;
    height: 100px;
}
.buy_fast label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 1px;
    font-size: 16px;
}
.product .product_base .price .price_current {
    overflow: hidden;
    font-size: 31px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 3px 3px 5px #7b7b7b;
    color: #ED1C24;
    margin-bottom: 10px;
}
.frame_dt {
    padding: 10px;
    position: relative;
    margin-bottom: 15px;
}
.promotion_info {
    margin-top: 20px;
}
#telephone_buy_fast {
    border: none;
    width: calc(100% - 64px);
    float: left;
    height: 32px;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
}
.button-buy-fast {
    background: #FFF;
    width: 54px;
    height: 32px;
    border: none;
    color: #F29901;
    text-transform: uppercase;
    border-radius: 4px;
    float: right;
    cursor: pointer;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr.tr-0, tr.tr-1 {
    border-bottom: 1px solid #eeeeee61;
    color: #333;
}

/*detail*/
