input[type=text], input[type=password]{
    border-radius: 5px 5px;
    height: 40px;    
    margin-top: 15px;
    padding-left: 5px;
}
label{
    width: 80px;
    display:inline-block;
    margin:15px 15px 5px 15px;
    font-weight: bold;
}
select{
    width: 80px;
    height: 30px;
}
#btnReg{
    background: #99b3ff;
    height: 50px;
    width:100%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

#btnReg:hover{
    background: #0000ff;
}
#btnBack{
    background: #ff6666;
    height: 50px;
    width:100%;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
#btnBack:hover{
    background: #ff1a1a;
}
span.msg{
    margin-left: 10px;
    color:red;
}
span.msg1{
    margin-left: 10px;
    color:yellow;
}
.info-order{
	        background-image: url("image/bg-order.jpg");
   		    background-color: #cccccc;   		
}
.order-information{
	margin-top: 30px;
	font-size: 26px;
}